body {
  font-family: "Kanit", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.scrollbar::-webkit-scrollbar {
  display: block;
  height: 15px;
}

::-webkit-scrollbar-thumb {
  height: 20px;
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 10px;
  -webkit-box-shadow: inset -2px -2px 0px rgba(0, 0, 0, 0.05), inset 2px px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}